body{
  margin: 0;
  background-color: var(--bodybackground-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(38, 51, 67);
  padding: 8px 12px;
  color: #ffffff;
}

.navbar__logo {
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.navbar__menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding-left: 0;
  text-align: center;
  align-items: center; /* 세로중앙정렬 */
  justify-content: center; /* 가로중앙정렬*/
}

.navbar__menu li {
  padding: 8px 30px;
  display: flex;
  align-items: center;
  justify-content: center;

}